.grid-item:hover .overlay {
  opacity: 0.9;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 5%;
  left: 5%;
  /*transform: translate(-35%, -35%);
  -ms-transform: translate(-50%, -50%);*/
}

.text > .title {
  font-weight: bold;
}

.text > .date {
  font-size: 15px;
}

.text > .author {
  font-size: 13px;
  margin-top: -13px;
}

label {
    background-color: white; /* Green */
    border-style: solid;
    border-color: black;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

label:hover {
  border-style: dashed;
  cursor: pointer;
}

label.selected {
  outline: none;
  color: red;
  border-color: red;
}

.hidden {
  visibility: hidden;
  display: none;
}

/*label {
  padding: 5px;
  text-decoration: none;
  background: white;
  display: inline-block;
}*/

input {
  display:none
}

.grid-item img {
  max-width: 200px;
  max-height: 322px;
}

#controls-filter, #controls-sort {
  padding-bottom: 10px;
}

label {
  margin-top: 5px;
}

@media (max-width: 580px) {
  .grid-item img {
    width: 140px;
  }
}
